body{
    font-size: 36px;
    color: #1F2397;
    display: flex; 
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}
#title{
    color: #F9FAF8;
    font-size: 24px;
    padding: 20px;
}
.links{
    padding: 20px;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.one{
    display: flex;
    align-items: center;
    justify-content: space-between;
}