body{
    font-size: 36px;
    color: #1F2397;
    display: flex; 
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}
#title{
    color: #F9FAF8;
    font-size: 24px;
    padding: 0 100px;
}
.links{
    padding: 0 100px;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.main{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    gap: 100px;
    padding: 100px;
}
.text{
    flex: 1;
    max-width: 500px;
}
.image{
    height: 200px;
    width: 200px;
    color: white;
    flex: 1;
}
h4{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}
#description{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}
#first_b{
    padding: 10px;
    background-color: #3382F6;
    color: white;
    border-radius: 8px;
    margin: 0;
}
.second{
    display: flex;
    align-items: center;
    padding: 10px 100px;
    margin: 0;
    gap: 20px;
}

#pictures{
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
    border-style: solid;
    border-color: #3382F6;
    border-radius: 8px;
}
#imgdescription{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 40px;
}
.box{
    flex: 1;
}
.headline{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: darkblue;
}
.three{
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    background-color: #E5E7EB;
    gap: 15px;
}

#qoute{
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}
#signature{
    font-size: 24px;
    font-weight: 900;
    color: black;
    text-align: right;
    padding: 0;
    margin: 0;
}
.fourth{
    display: flex;
    padding: 50px 100px;
    margin: 0;
    padding: 50px;
    align-items: center;
    justify-content: center;
}
.modal{
    display: flex;
    background-color: #3382F6;
    border-radius: 10px;
    height: 200px;
    width: 1000px;
    justify-content: space-around;
}
.right{
    display: flex;
    flex-direction: column;
}
.left{
    padding: 70px 30px;
}
#second_b{
    background-color: #3382F6;
    padding: 10px 30px;
    border-radius: 8px;
    color: white;
    margin: 0;
    border-color: white;
}
h3{
    color: white;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 5px;
}
#sing{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    margin: 0;
    padding-bottom: 50px;
}