body{
    font-size: 36px;
    color: #1F2397;
    display: flex; 
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}
#title{
    color: #F9FAF8;
    font-size: 24px;
    padding: 0 100px;
}
.links{
    padding: 0 100px;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.main{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.one{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    gap: 100px;
    padding: 100px 100px;
}
.text{
    flex: 1;
    max-width: 500px;
}
.image{
    height: 200px;
    width: 200px;
    color: white;
    flex: 1;
}
h4{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}
p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}
button{
    padding: 10px;
    background-color: #3382F6;
    color: white;
    border-radius: 8px;
    margin: 0;
}
